<ion-view class="login-view">
  <ion-nav-bar class="view-navigation">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <div class="row form-heading">
      <div class="col col-center">
        <h1 class="form-title"><img class="logo" src="img/logo@3x-white.png"></h1>
      </div>
    </div>
    <div class="row form-wrapper">
      <div class="col">
        <form name="login_form" class="login_form" novalidate>
          <div class="list">
            <label class="item item-input">
              <input type="text" placeholder="Email or Username" name="user_name" ng-model="user.userName" required>
            </label>
            <label class="item item-input">
              <input type="password" placeholder="Password" name="password" ng-model="user.password" required>
            </label>
            <p ng-show="error" class="message error">{{error}}</p>
          </div>
        </form>
        <div class="alternative-actions">
          <a class="forgot-password button button-block button-clear" ui-sref="forgot_password">
            Forgot Password?
          </a>
        </div>
      </div>
    </div>
    <div class="bar bar-footer bar-positive">
      <button class="button button-full button-positive button-login" ng-click="doLogin()" ng-disabled="login_form.$invalid">Log In</button>
    </div>
  </ion-content>
</ion-view>