<ion-modal-view class="settings-view">
	<ion-header-bar class="bar bar-header bar-positive">
	  <h1 class="title">Account</h1>
	  <button class="button button-clear button-primary" ng-click="account_modal.hide()"><span class="icon ion-android-close light"></span></button>
	</ion-header-bar>
	<ion-content>
		<div class="list">
			<div class="item item-divider">
				MY ACCOUNT
			</div>
			<div class="item">
				First Name: <span class="item-note">{{user.data.firstname}}<span>
			</div>
			<div class="item">
				Last Name: <span class="item-note">{{user.data.lastname}}<span>
			</div>
			<div class="item">
				Username: <span class="item-note">{{user.data.username}}<span>

			</div>
			<div class="item">
				Email: <span class="item-note">{{user.data.email}}<span>
			</div>

			<div class="item item-divider">
				MY MEMBERSHIP
			</div>
			<div class="item">
				Account Type: <span class="item-note">{{pmpro.name}}<span>
			</div>
			<div class="item">
				Billing: <span class="item-note">{{pmpro.billing_limit}} AUD<span>
			</div>
			<div class="item">
				Expiration: 
				<span class="item-note" ng-if="pmpro.enddate == 0">NO<span>
				<span class="item-note" ng-if="pmpro.enddate != 0">{{pmpro.enddate}}<span>
			</div>
		</div>
	</ion-content>
</ion-modal-view>