<ion-view class="course-view">
    <ion-content class="has-header" ion-sticky>

      <div class="list" ng-if="layout == 'lv'">
          <div ng-repeat="course in courses">
            <div class="item item-divider">{{ course.heading }}</div>
    		    <a ng-repeat="row in course.units" class="item item-thumbnail-left item-icon-right" ui-sref="app.episodes({courseId : row.ID})">
    		      <img ng-src="{{ row.featured_image }}">
    		      <h2 ng-bind-html="row.post_title"></h2>
    		      <p>{{ row.post_excerpt | htmlToPlaintext | limitTo: 250 }}{{ row.post_excerpt.length > 250 ? '...' : '' }}</p>
    		     <i class="icon ion-ios-arrow-right"></i>
    		    </a>
          </div>
  		</div>

  		<div class="card-view" ng-if="layout != 'lv'">
        <div ng-repeat="course in courses">
    			<div class="item item-divider">{{ course.heading }}</div>
    			<div class="list card" ng-repeat="row in course.units" ui-sref="app.episodes({courseId : row.ID})">
    			  <div class="item">
    			    <h2 ng-bind-html="row.post_title"></h2>
    			  </div>
    			  <div class="item item-body">
    			    <img ng-src="{{ row.featured_image }}" class="course-image">
    			    <p>{{ row.post_excerpt | htmlToPlaintext }}</p>
    			  </div>
    			</div>
        </div>
  		</div>

    </ion-content>
</ion-view>
