<ion-view class="home-view">
    <ion-tabs class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
        <ion-tab title="Courses" icon="ion-ios-book" ui-sref="app.home.courses">
            <ion-nav-view name="courses"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Profile" icon="ion-person" ui-sref="app.home.profile">
            <ion-nav-view name="profile"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Settings" icon="ion-gear-a" ui-sref="app.home.settings">
            <ion-nav-view name="settings"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>