<ion-view class="profile-view">
	<ion-content>
		<div class="list">
			<div class="item item-divider">
				MY ACCOUNT
			</div>
			<div class="item item-thumbnail-center">
				<img ng-src="{{user.data.avatar}}">
				<h2>{{user.data.firstname}} {{user.data.lastname}}</h2>
			</div>
			<div class="item">
				Username: <span class="item-note">{{user.data.username}}<span>
			</div>
			<div class="item">
				Email: <span class="item-note">{{user.data.email}}<span>
			</div>

			<div class="item item-divider">
				MY MEMBERSHIP
			</div>
			<div class="item">
				Account Type: <span class="item-note">{{pmpro.name}}<span>
			</div>
			<div class="item">
				Billing: <span class="item-note">{{pmpro.billing_limit}} AUD<span>
			</div>
			<div class="item">
				Expiration: 
				<span class="item-note" ng-if="pmpro.enddate == 0">NO<span>
				<span class="item-note" ng-if="pmpro.enddate != 0">{{pmpro.enddate}}<span>
			</div>
		</div>
	</ion-content>
</ion-view>