<ion-view class="settings-view">
  <ion-content>
    <ion-list>
      <div class="item item-divider">LAYOUT</div>
      <ion-radio ng-model="layout" ng-value="'lv'" ng-change="LayoutChanged('lv')">List View</ion-radio>
      <ion-radio ng-model="layout" ng-value="'cv'" ng-change="LayoutChanged('cv')">Card View</ion-radio>

      <div class="item item-divider">LEGAL</div>
      <ion-item class="item" href="" ng-controller="TermsCtrl" ng-click="showTerms()">Terms of Service</ion-item>
      <ion-item class="item" href="" ng-controller="PolicyCtrl" ng-click="showPolicy()">Privacy Policy</ion-item>

      <div class="item item-divider">ACTION</div>
      <ion-item class="item" href="" ng-click="showLogOutMenu()">Logout</ion-item>
    </ion-list>
    
  </ion-content>
  <div class="bar bar-footer">
      <div class="title">v1.2</div>
    </div>
</ion-view>
