<ion-view title="Topics" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="topics-list2" class=" ">
            <ion-item class="item-icon-left  " id="topics-list-item4">
                <i class="icon ion-ionic"></i>Item 1</ion-item>
            <ion-item class="item-icon-left  " id="topics-list-item6">
                <i class="icon ion-ionic"></i>Item 2</ion-item>
            <ion-item class="item-icon-left  " id="topics-list-item7">
                <i class="icon ion-ionic"></i>Item 3</ion-item>
            <ion-item class="item-icon-left  " id="topics-list-item9">
                <i class="icon ion-ionic"></i>Item 4</ion-item>
            <ion-item class="item-icon-left  " id="topics-list-item10">
                <i class="icon ion-ionic"></i>Item 5</ion-item>
            <ion-item class="item-icon-left  " id="topics-list-item8">
                <i class="icon ion-ionic"></i>Item 6</ion-item>
            <ion-item class="item-icon-left  " id="topics-list-item11">
                <i class="icon ion-ionic"></i>Item 7</ion-item>
            <ion-item class="item-icon-left  " id="topics-list-item12">
                <i class="icon ion-ionic"></i>Item 8</ion-item>
        </ion-list>
    </ion-content>
</ion-view>