<ion-view title="Trending" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="trending-list3" class=" ">
            <ion-item class="item-icon-left  " id="trending-list-item14">
                <i class="icon ion-ionic"></i>Item</ion-item>
            <ion-item class="item-icon-left  " id="trending-list-item22">
                <i class="icon ion-ionic"></i>Item</ion-item>
            <ion-item class="item-icon-left  " id="trending-list-item21">
                <i class="icon ion-ionic"></i>Item</ion-item>
            <ion-item class="item-icon-left  " id="trending-list-item20">
                <i class="icon ion-ionic"></i>Item</ion-item>
            <ion-item class="item-icon-left  " id="trending-list-item19">
                <i class="icon ion-ionic"></i>Item</ion-item>
            <ion-item class="item-icon-left  " id="trending-list-item18">
                <i class="icon ion-ionic"></i>Item</ion-item>
            <ion-item class="item-icon-left  " id="trending-list-item17">
                <i class="icon ion-ionic"></i>Item</ion-item>
            <ion-item class="item-icon-left  " id="trending-list-item15">
                <i class="icon ion-ionic"></i>Item</ion-item>
            <ion-item class="item-icon-left  " id="trending-list-item16">
                <i class="icon ion-ionic"></i>Item</ion-item>
        </ion-list>
    </ion-content>
</ion-view>