<ion-view title="User">
    <ion-content padding="true" class="has-header">
        <ion-list id="user-list5" class=" ">
            <ion-item class="item-icon-left">
                <i class="icon ion-android-time"></i>History</ion-item>
            <ion-item class="item-icon-left">
                <i class="icon ion-android-notifications"></i>Notification</ion-item>
            <ion-item class="item-icon-left">
                <i class="icon ion-eye"></i>Watch List</ion-item>
            <ion-item class="item-icon-left">
                <i class="icon ion-android-person"></i>Membership</ion-item>
            <ion-item class="item-icon-left" ng-click="showLogOutMenu()">
                <i class="icon ion-log-out"></i>Log Out</ion-item>
        </ion-list>
    </ion-content>
</ion-view>