<ion-view title="User" id="page4" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="user-list5" class=" ">
            <ion-item class="item-icon-left  " id="user-list-item27">
                <i class="icon ion-android-time"></i>History</ion-item>
            <ion-item class="item-icon-left  " id="user-list-item28">
                <i class="icon ion-android-notifications"></i>Notification</ion-item>
            <ion-item class="item-icon-left  " id="user-list-item29">
                <i class="icon ion-eye"></i>Watch List</ion-item>
            <ion-item class="item-icon-left  " id="user-list-item30">
                <i class="icon ion-android-person"></i>Membership</ion-item>
            <ion-item class="item-icon-left  " id="user-list-item31">
                <i class="icon ion-log-out"></i>Log Off</ion-item>
        </ion-list>
    </ion-content>
</ion-view>