// Override Ionic styles
.bar.app-top-bar{
	background-image: none;
}
.bar .buttons-right .button{
	display: block !important;
}
.item p{
	white-space: normal;
}
.platform-android .action-sheet .action-sheet-title{
	border-bottom: 1px solid #888888;
	font-size: 16px;
}
.platform-android .action-sheet .button,
.platform-android .action-sheet .action-sheet-title{
	text-align: center;
}
.platform-android .action-sheet .button{
	color: #ff3b30;
	font-size: 18px;
}
.main-menu .heading-item .heading-bg{
	background: none !important;
}
videogular vg-time-display, [videogular] vg-time-display{
	font-size: 14px !important;
}
videogular vg-buffering .bufferingContainer, [videogular] vg-buffering .bufferingContainer{
	margin-top: -25px !important;
}
.spinner svg {
  stroke: #fff;
  fill: #fff;
}
.loading-container .loading *{
	vertical-align: middle;
	line-height: 28px;
}
.content-padding{
	padding: 10px 20px;
}
.item-icon-right{
	padding-right: 28px;
}
.item-icon-right .icon{
	right: 0;
	font-size: 22px;
	color: #ccc;
}
.assertive, a.assertive{
	color: #222;
}
.episodes .item h2{
	white-space: normal;
	line-height: 1.4;
	font-size: 14px;
}
.episodes .item-divider,
.course-view .item-divider{
	padding-top: 0px;
    padding-bottom: 0px;
    font-size: 16px;
    min-height: 0px;
    color: #285f8f;
    height: 40px;
    line-height: 40px;
}
.terms-view ul{
	margin-bottom: 20px;
}