// Override Ionic styles
.bar.app-top-bar{
	background-image: none;
}
.bar .buttons-right .button{
	display: block !important;
}
.item p{
	white-space: normal;
}
.platform-android .action-sheet .action-sheet-title{
	border-bottom: 1px solid #888888;
	font-size: 16px;
}
.platform-android .action-sheet .button,
.platform-android .action-sheet .action-sheet-title{
	text-align: center;
}
.platform-android .action-sheet .button{
	color: #ff3b30;
	font-size: 18px;
}
video::-webkit-media-controls {
    display:none !important;
}
.IIV::-webkit-media-controls-play-button,
.IIV::-webkit-media-controls-start-playback-button {
    opacity: 0;
    pointer-events: none;
    width: 5px;
}
.main-menu .heading-item .heading-bg{
	background: none !important;
}
videogular vg-time-display, [videogular] vg-time-display{
	font-size: 14px !important;
}
videogular vg-buffering .bufferingContainer, [videogular] vg-buffering .bufferingContainer{
	margin-top: -25px !important;
}
.spinner svg {
  stroke: #fff;
  fill: #fff;
}
.loading-container .loading *{
	vertical-align: middle;
	line-height: 28px;
}
.content-padding{
	padding: 10px 20px;
}
.item-icon-right{
	padding-right: 28px;
}
.item-icon-right .icon{
	right: 0;
	font-size: 22px;
	color: #ccc;
}
.assertive, a.assertive{
	color: #222;
}
.episodes .item h2{
	white-space: normal;
	line-height: 1.4;
	font-size: 14px;
}
.episodes .item-divider,
.course-view .item-divider{
	padding-top: 0px;
    padding-bottom: 0px;
    font-size: 16px;
    min-height: 0px;
    color: #285f8f;
    height: 40px;
    line-height: 40px;
}
.course-view .course-image{
	max-width: 100%;
}
.terms-view ul{
	margin-bottom: 20px;
}
.course-view .scroll-content{
	background: #e3e3e3;
}
.home-view .tab-item .icon{
	color: #fff;
}
.profile-view .item-thumbnail-center img{
	margin: 0 auto;
	display: block;
	height: 100px;
	width: 100px;
	margin-bottom: 10px;
	border-radius: 10em;
}
.profile-view .item-thumbnail-center h2{
	font-size: 20px;
	text-align: center;
}
.tabs-striped.tabs-stable .tab-item.tab-item-active, 
.tabs-striped.tabs-stable .tab-item.active, 
.tabs-striped.tabs-stable .tab-item.activated{
	border-color: #337ab7;
}
.tabs-top.tabs-striped .tab-item.tab-item-active, 
.tabs-top.tabs-striped .tab-item.active, 
.tabs-top.tabs-striped .tab-item.activated{
	border-width: 0px 0px 3px 0px !important;
}