.settings-view
{
  background-color: $content-bg;

  .option
  {
    i
    {
      margin-right:12px;
      font-size: 18px;
    }
  }

  .item-divider
  {
    padding-top: 22px;
    padding-bottom: 6px;
    color: lighten($content-color, 30);
    font-weight: 400;
  }

  .item-note{
    float: right;
    color: #888;
    font-size: 15px;
  }
}
