.login-view
{
  .button.login
  {
    margin-top:30px;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 500;
    color: rgba($walkthrough-btn-color-2, .9);
    background-color: rgba($walkthrough-btn-bg-2, .85);
    border-color: rgba(darken($walkthrough-btn-bg-2, 1), .9);
  }

  .alternative-actions
  {
    .sign-up
    {
      float:right;
    }
  }
  .logo{
    max-width: 100%;
    width: 80%;
    display: block;
    margin: 0 auto;
  }
  .login_form{
    padding: 0 20px;
  }
  .item-input{
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    padding: 4px 0;
    margin-bottom: 10px;
  }
  .item-input input{
    color: #fff;
    font-weight: 400;
    font-size: 15px;
  }
  .item-input input::-webkit-input-placeholder {
    color:    #fff;
  }
  .item-input input:-moz-placeholder {
     color:    #fff;
     opacity:  1;
  }
  .item-input input::-moz-placeholder {
     color:    #fff;
     opacity:  1;
  }
  .item-input input:-ms-input-placeholder {
     color:    #fff;
  }
  .bar-footer{
    padding: 0;
    height: 50px;
  }
  .button-login{
    margin:0;
    font-size: 16px;
    border-radius: 0px;
    
  }
}
