.walkthrough-view
{
  background-color: $walkthrough-bg;

  .top-content
  {
    height:85%;

    .slider
    {
      height: 100%;
      width: 100% !important;
      margin: 0 auto;

      .slider-slides{

        width: 100% !important;

        .slider-slide
        {
          display: table;
          width: 100% !important;
        }
      }
    }

    .slide-content
    {
      height: 100%;
      text-align:center;
      vertical-align: middle;
      display: table-cell;

      .slide-image
      {
        width:90%;
        margin: 0px 0px 20px;
        max-width: 500px;
      }
    }

    .slide-h
    {
      color: $walkthrough-color;
      margin-bottom: 25px;
      font-size: 20px;
    }

    .slide-p
    {
      color: rgba($walkthrough-color, .7);
      font-size: 17px;
    }

    .slider-pager
    {
      bottom: 2px;
    }

    .slider-pager .slider-pager-page i
    {
      color: $walkthrough-btn-bg-2;
    }

    .slider-pager .slider-pager-page.active i
    {
      color: $walkthrough-btn-bg-1;
    }
  }

  .bottom-content
  {
    height:15%;
    margin: 0px;

    .login,
    .sign-up
    {
      border-radius: 6px;
      font-size: 18px;
      font-weight: 500;
    }

    .login
    {
      color: rgba($walkthrough-btn-color-2, .9);
      background-color: rgba($walkthrough-btn-bg-2, .85);
      border-color: rgba(darken($walkthrough-btn-bg-2, 1), .9);
    }

    .sign-up
    {
      color: rgba($walkthrough-btn-color-1, .9);
      background-color: rgba($walkthrough-btn-bg-1, .85);
      border-color: rgba(darken($walkthrough-btn-bg-1, 1), .9);
    }
  }

  .bar-footer{
    padding: 0;
    height: 50px;
  }
  .button-login{
    margin:0;
    font-size: 16px;
  }
}
